#artboard table {
  margin-top: 120px;
  height: 400px;
}

#clear {
  float: left;
}


table {
  width: 300px;
  height: 300px;
  bottom-margin: 30px;
}

tr {
  height: 10px;
}

td {
  width: 10px;
}

table, tr, td {
  border: 1px solid black;
}

tr.pallette > td {}

.pallette {
  text-align: center;
}

#erase {
  float: left;
  margin-top: 30px;
  width: 100px;
  height: 40px;
  font-size: 25px;
  font-style: oblique;
  text-transform: uppercase;
  border-radius: 25px;
}

#clear {
  float: left;
  margin-left: 41px;
  margin-top: 30px;
  width: 100px;
  height: 40px;
  font-size: 25px;
  font-style: oblique;
  text-transform: uppercase;
  opacity: 0.5;
  border-radius: 25px;

}

#artboard {
  float: right;
  margin-right: 200px;
  margin-top: -435px;
  width: 400px;
  height: 437px;
}

.grid {
  height: 500px;
}

